/* reglas
selectores
declaraciones 
propiedades 
valores */

/* header {
    background: pink;
    color: red;
} */

/* selector de etiqueta header - section - article - nav */
/* selector descendente */
/* body header div nav ol li a */

/* selector de clases */
/* .link */

/* selector de id */
/* #portafolio */

/* lo que esta dentro de la {} es una declaracion
las propiedades se separan de los valores con : y 
los valores se separan de otras propiedades con ; con un selector
pasan a formar una regla de CSS*/

/* gris oscuro = #1d252c */
/* gris claro =  #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}
h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    background-image: url(../image/hero.jpeg);
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    
}

.menu { /* .menu hereda de .header */
    height: inherit;
}

.header ol {  /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
}

.header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
}

.header a { /* .header a hereda de .header ol li */
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex; 
    align-items: center;
    padding: 0 10px;
}

.portfolio {
    background: #fafafa;
    padding: 20px;

}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* color: blue; */
    /* border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    /* margin: 10px; */
    margin-bottom: 15px;
    /* margin-right: 0%;
    margin-left: ;
    margin-top: ; */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
} 

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

/* .project-date {
    margin: 10px 0;
} */

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
}

.project-courses{
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.project-courses,
.project-urlCourses {
    margin: 10px 0;
}

.project-descriptionCourses {
    font-size: 20px;
}

.project-courses strong {
    font-family: 'Fjalla One', sans-serif;
}

/* .project-date {
    margin: 10px 0;
} */

.project-titleCourses {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-detailsCourses {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.project-imageContainerProfile {
    width: 500px;
}

.events {
    display: flex;
    background: #fafafa;
    /* padding: 20px; */
}

.event-listTitle {
    margin-left: 20px;
}

.event {
    border: 1px solid gray;
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}